<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    {% load static %}
    <link href="{% static 'store/styles.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <!-- Header content -->
    </header>
    <nav>
        <!-- Navigation content -->
    </nav>
    <main>
        <h1>Your Shopping Cart</h1>
        <header>
        <a href="{% url 'mainpage' %}">Back to Main Page</a>
        </header>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in cart_items %}
                <tr>
                    <td>{{ cart_item.product.name }}</td>
                    <td>
                        <button class="cart-decrement-btn" data-product-id="{{ cart_item.product.id }}">-</button>
                        <input type="number" class="cart-quantity-input" value="{{ cart_item.quantity }}" min="0">
                        <button class="cart-increment-btn" data-product-id="{{ cart_item.product.id }}">+</button>
                    </td>
                    <td>${{ cart_item.product.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>