{% extends "store/base.html" %}

{% block user-info %}


    <div class="cart-icon"><a href="{% url 'cart' %}">
        <span ><i class="shopping-cart"></i></span>
    </a></div>

{% endblock %}

{% block content %}
    <nav>
        <ul>
            <li class="dropdown">
                <a href="#">Categories &#9662;</a>
                <ul class="dropdown-menu">
                <li><a href="#" data-category="All">All</a></li>
                <li><a href="#" data-category="Running">Running</a></li>
                <li><a href="#" data-category="Training">Training</a></li>
                <li><a href="#" data-category="Yoga">Yoga</a></li>
                <li><a href="#" data-category="Swimming">Swimming</a></li>
                <li><a href="#" data-category="Cycling">Cycling</a></li>
                </ul>
            </li>
            <ul class="gender">
              <li><a href="#" data-gender="Men">Men</a></li>
              <li><a href="#" data-gender="Women">Women</a></li>
            </ul>

        </ul>
    </nav>
    <main>
        {% for product in products %}
        <section class="product" data-product-id="{{ product.id }}" data-category="{{ product.category }}" data-gender="{{ product.gender }}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p class="price">${{ product.price }}</p>
            <button class="add-to-cart-btn" data-product-id="{{ product.id }}">Add to Cart</button>
        </section>
        {% endfor %}
        
    </main>

{% endblock %}